<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/css/compiled.css">
	<title>Max Stoiber - Frontend Development, HTML5, CSS3, JavaScript</title>
	<meta name="description" content="Freelance Frontend Developer, proficient in HTML, CSS and JavaScript. Focussed on web application development." />
	<meta name="keywords" content="HTML, CSS, JavaScript, HTML5, CSS3, JS, jQuery, Frontend Development, Web Development, Web Design, Development, Frontend" />
	<meta name="author" content="Max Stoiber" />
	<link rel="apple-touch-icon" href="favicon.png">
	<meta name="viewport" content="width=device-width,initial-scale=1">

	<!-- Facebook -->
	<meta property="og:title" content="Max Stoiber - Freelance Frontend Developer">
	<meta property="og:description" content="Freelance Frontend Developer, proficient in HTML, CSS and JavaScript. Available for hire.">
	<meta property="og:image" content="http://mxstbr.com/images/social_media.png">

	<!-- Twitter -->
	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@mxstbr">
	<meta name="twitter:creator" content="@mxstbr">
	<meta name="twitter:url" content="http://mxstbr.com">
	<meta name="twitter:title" content="Max Stoiber - Freelance Frontend Developer">
	<meta name="twitter:description" content="Freelance Frontend Developer, proficient in HTML, CSS and JavaScript. Available for hire.">
	<meta name="twitter:image" content="http://mxstbr.com/images/social_media.png">

	<!--[if lt IE 9]>
	    <script src="/js/html5shiv.js"></script>
	<![endif]-->
</head>
<body class="js-has-loaded js-has-scrolled">
	<script>
		// Progressive Enhancement, if JS runs these classes will be applied dynamically
		document.body.classList.remove('js-has-loaded');
		document.body.classList.remove('js-has-scrolled');
	</script>