/*This file contains very basic styles.*/

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*, *::before, *::after {
  box-sizing: inherit;
}

html,
body {
	margin: 0;
	padding: 0;
	font-family: $sans-serif;
	font-size: $font-size;
	color: $text-color;
	background-color: $light-grey;
}

a {
	color: $text-color;
	text-decoration: underline;
}

img {
	max-width: 100%;
    margin: 1em auto;
    display: block;
}

.round-image {
    border-radius: 50%;
    width: 50%;
    margin: 0 auto;
    display: block;
}

blockquote {
    margin: 1.5em 0;
    padding: 0 1.5em;
    position: relative;
    font-family: Georgia, serif;
    font-style: italic;
    line-height: 1.5em;
}

blockquote:before {
    display: block;
    content: "\201C";
    font-size: 80px;
    position: absolute;
    left: -1rem;
    top: -1rem;
    line-height: initial;
    color: $light-mid-grey;
}

cite {
    display: block;
    margin-top: 0.5em;
    color: $mid-grey;
}

cite:before {
    content: "— ";
}
