@media screen and (min-width: 715px) {
	.nav__item--left {
		transform: translate(9em, 3.1em);
	}

	.nav__item--right {
		transform: translate(-9em, 3.1em);
	}

	.main {
		max-width: 700px;
	}

	.main--small {
		max-width: $max-width;
	}

	.nav__wrapper {
		max-width: 700px;
	}

	.main-item {
		width: 297px;
		float: left;
		margin-top: 1em;
		margin-bottom: 1em;
	}

	.main-item:nth-child(2n) {
		margin-left: 30px;
		margin-top: 1em;
	}

	.main-row {
		width: 100%;
	}

	.main-row:after {
		content: "";
		display: block;
		height: 0;
		clear: both;
	}

	.main-section:after {
		content: "";
		display: block;
		height: 0;
		clear: both;
	}

	.main-section__open-source .main-item {
		width: 297px;
	}

	.main-section__open-source .main-item:nth-child(2n) {
		margin-left: 1.8em;
	}

	.talk-date {
		display: inline-block;
	}
}
