/*This file contains all styles related to the button component.*/

.btn {
  color: white;
  background-color: $text-color;
  border-radius: 2px;
  padding: 0.6em 1.5em;
  display: inline-block;
  position: relative;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.btn--primary {
  border-color: $green;
  background-color: $green;
  color: white;
}

.btn-wrapper {
  text-align: center;
}
