.main {
	max-width: $max-width;
	margin: 0 auto;
	padding: 0 38px;
	position: relative;
	margin-top: 9.5em;
}

.main p + p {
	margin-top: 0.5em;
}

.main p + p a {
	text-decoration: underline;
}

.main h2 {
	font-size: 1.25em;
}

.main--wide {
	max-width: $wide-max-width;
}

.main::after {
	content: "";
	display: block;
	clear: both;
	height: 0;
}

.main-section > h2 {
	margin-top: 0;
	margin-bottom: 0.75em;
}

.main-section {
	margin: 3em 0;
}

.main-item {
	position: relative;
	margin-top: 2em;
	margin-bottom: 2em;
	font-size: 1em;
}

.main-item:after {
	content: "";
	display: block;
	clear: both;
	height: 0;
}

.main-item + .main-item {
	margin-top: 2em;
}

.main--animated .main-item {
	animation: slidein 300ms ease-in-out 1;
	animation-fill-mode: both;
	transition: transform 250ms ease-in-out;
	opacity: 0;
}

.main-section__recognition .main-item {
	width: 100%;
}

.main-section--with-icons .main-item {
	padding-left: 1.6em;
}

.main-item ul {
	margin: 0;
	padding-left: 1.6em;
}

.main-item__award {
	display: block;
	float: left;
	vertical-align: middle;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	margin: 0.5em 0;
	width: 100%;
}

.main-item__award img {
	width: auto;
	height: 1em;
	display: inline-block;
    position: relative;
    vertical-align: middle;
}

.main-item__award p {
	display: inline-block;
}

.csswinner img {
	height: 2em;
}

/*.main-item__award:nth-of-type(1) {
	background-image: url(/awwwards.svg);
}

.main-item__award:nth-of-type(2) {
	background-image: url(/csswinner.svg);
}

.main-item__award:nth-of-type(3) {
	background-image: url(/fwaLogo.svg);
} */

.main-item:nth-of-type(1) {
	animation-delay: 400ms;
}

.main-item:nth-of-type(2) {
	animation-delay: 550ms;
}

.main-item:nth-of-type(3) {
	animation-delay: 700ms;
}

.main-item:nth-of-type(4) {
	animation-delay: 950ms;
}

.main-item:nth-of-type(5) {
	animation-delay: 1100ms;
}

.main-item:nth-of-type(6) {
	animation-delay: 1250ms;
}

.main-item:nth-of-type(7) {
	animation-delay: 1400ms;
}

.main-item:nth-of-type(8) {
	animation-delay: 1550ms;
}

.main-item:nth-of-type(9) {
	animation-delay: 1700ms;
}

.main-item:nth-of-type(10) {
	animation-delay: 1850ms;
}

.main-item a {
	text-decoration: none;
}

.main--wide a {
	text-decoration: underline;
}

.main-item__icon {
	height: 1.2em;
	margin: 0;
	font-size: 1em;
	transition: border 150ms ease-out;
	position: absolute;
	left: 0.1em;
	top: 0em;
}

.main p {
	margin: 0;
}

.main h3 {
	font-size: 1em;
	font-weight: 700;
	margin: 0;
	display: inline-block;
}

.main hr {
	border: none;
	border-bottom: 1px solid $mid-grey;
	width: 90%;
	margin: 1em auto;
}

.talk-date {
	display: block;
}

.talk-location a {
	text-decoration: none;
}

.awards-logo {
	width: 100%;
}

@keyframes slidein {
	from {
		transform: translateX(-10px);
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes hover {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(10px);
	}
}
