.main-item__work {
	width: 100%;
	height: 167.5px;
	text-align: center;
	position: relative;
	border-radius: 3px;
	background-size: cover;
	background-position: center;
}

.main-item__work-overlay {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: 2;
	transition: background-color 150ms ease-out;
	border-radius: 3px;
}

.main-item__work a {
	z-index: 3;
	display: block;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
}

.main-item__work-text {
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
	z-index: 3;
	opacity: 1;
	transition: opacity 150ms ease-out;
}

.main-item__work h3,
.main-item__work h4 {
	color: white;
	margin: 0;
}

.main-item__work h4 {
	font-size: 0.75em;
	font-style: italic;
	font-weight: 400;
}

.main-item__work:hover .main-item__work-overlay {
	background-color: rgba(0, 0, 0, 0);
}

.main-item__work:hover .main-item__work-text {
	opacity: 0;
}

.frankensim {
	background-image: url(/frankensim-new.png);
}

.unfallchirurgin {
	background-image: url(/unfallchirurgin.png);
}

.cruk {
	background-image: url(/cruk.png);
}

.lyst {
	background-image: url(/lyst.png);
}
